<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>НОКИ - Новое общество креативных инициатив</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
            <div class="logo">
                <div class="logo-icon">
                    <img src="/logo.png" style="width: 50px;">
                </div>
                <div style="">
                    <div class="logo-text"><a href="/" style="color: white;">НОКИ</a></div>
                    <div class="logo-subtext">Новое общество креативных инициатив</div>
                </div>
            </div>
        <div class="container header-container">
            <nav>
                <ul>
                    <li><a href="/">О нас</a></li>
                    <li><a href="/history">История</a></li>
                    <li><a href="/departments">Региональные отделения</a></li>
                    <li><a href="/activities" class="cur">Активности</a></li>
                    <li><a href="/login" class="btn">{{ usname }}</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="hero">
        <div class="container">
            <h1>Активности НОКИ</h1>
        </div>
    </section>
    <div style="height: 60px;"></div>

    <section class="event">
      <img src="/img2" style="width: 30%; margin-right: 40px; flex-shrink: 0;">
      <div>
        <h1 style="font-size: 3.5rem;">Добро вокруг нас</h1>
        <p style="width: 60%; font-size: 1.5rem;">Твоя задача — заполнить эту форму до 29 июня и делиться с подписчиками своими добрыми делами: выкладывай до 10 августа посты о своих волонтёрских акциях в ВК и Telegram с фото и текстовой подводкой</p>
        <a href="https://www.google.com/url?q=https%3A%2F%2Fforms.yandex.ru%2Fcloud%2F683c9f3e5056904c395513be&sa=D&sntz=1&usg=AOvVaw3Pxf5Yh5vmIPLcyIjZM8k3" class="btn">Принять участие</a>
      </div>
    </section>

    <section class="event">
      <img src="/img3" style="width: 30%; margin-right: 40px; flex-shrink: 0;">
      <div>
        <h1 style="font-size: 3.5rem;">Премия "Мечтатель года"</h1>
        <p style="width: 60%; font-size: 1.5rem;">Тебя ждёт долгий путь к реализации твоей мечты: заполнение анкеты, публикация постов, ответы на вопросы жюри и много-много интересных заданий ⭐<br><br>Заявки принимаем до 1 сентября 2025 года</p>
        <a href="https://www.google.com/url?q=https%3A%2F%2Fforms.yandex.ru%2Fcloud%2F67dacbc25056908c543a5447&sa=D&sntz=1&usg=AOvVaw3DJpDjDwGw9zP5fKpjopSX" class="btn">Принять участие</a>
      </div>
    </section>

    <footer>
        <div class="container">
            <div class="footer-grid">
                <div class="footer-column">
                    <h3>О движении</h3>
                    <ul class="footer-links">
                        <li><a href="#">Наша миссия</a></li>
                        <li><a href="#">Команда</a></li>
                        <li><a href="#">История</a></li>
                        <li><a href="#">Партнёры</a></li>
                    </ul>
                </div>

                <div class="footer-column">
                    <h3>Мероприятия</h3>
                    <ul class="footer-links">
                        <li><a href="#">Календарь событий</a></li>
                        <li><a href="#">Архив мероприятий</a></li>
                    </ul>
                </div>

                <div class="footer-column">
                    <h3>Проекты</h3>
                    <ul class="footer-links">
                        <li><a href="#">Текущие проекты</a></li>
                        <li><a href="#">Конкурсы</a></li>
                        <li><a href="#">Подать заявку</a></li>
                    </ul>
                </div>

                <div class="footer-column">
                    <h3>Контакты</h3>
                    <ul class="footer-links">
                        <li><a href="mailto:hoki_russia@mail.ru">hoki_russia@mail.ru</a></li>
                        <li>г. Нижний Тагил, 622049</li>
                        <li><a href="#">Личный кабинет</a></li>
                    </ul>
                </div>
            </div>

            <div class="copyright">
                &copy; 2025 Молодёжное движение НОКИ. Все права защищены.
            </div>
        </div>
    </footer>
</body>
</html>
